.jumbotron{
    text-align: center;
    background-color: darkgreen;
    box-shadow: -5px 5px 10px black;
}
.jumbotron h1 {
    font-size: 60px;
    color:blue;
    text-shadow: 3px 2px black;
}
.container{
    
    float: right;
    height: 100%;
    width: 100%;
    text-align: center;  
}
.modal{
    display:none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 50%;
    overflow: auto;
}
button{
    color: white;
    border-radius: 5px;
    margin: 10px;
    background-color: darkgoldenrod;
    box-shadow: 1px 1px 5px black;
}

#question{
    height: auto;
    width: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}
#hint{
    margin-top: 4px;
    height: auto;
    width: auto;
}
#answer{
    border-radius: 10px;
    color:white;
    height: auto;
    width: auto;
}
.flip-card {
    
    border-radius: 10px;
    background-color: transparent;
    width: 300px;
    height: 450px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card-front{
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: 110%;
    background-image: url(2841.jpg);
    color: white;
  } 
  .flip-card-back {
    border-radius: 10px;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 110%;
    background-image: url(2841.jpg);
    background-repeat: no-repeat;
  }
  .modal{
      display: none;
      background-image:url(flashcard.jpg);
      height: 450px;
      width: 300px;
      z-index: 1;
      position: absolute;
      overflow: auto;
    
  }
  .modal-content{
      margin: 15px auto;
      padding: 20px;
      border: 1px solid black;
      width: 80%;
      height: 80%;
      background-color: dimgrey;
  }